.travels-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin: 0 auto 20px auto;
  padding: 10px 10px;
  border: 1px solid black;
}

.travels-image {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}
.travels-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.travels-info {
  padding-left: 20px;
  flex: 1;
  text-align: left;
}
